<a href="https://colab.research.google.com/github/jatindangi1206/Python-for-Bio/blob/main/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# check if 1237654 is divisible by 7, 11 or 13

num = 1237654
divisible_by_7 = num % 7 == 0
divisible_by_11 = num % 11 == 0
divisible_by_13 = num % 13 == 0

print("Divisible by 7:", divisible_by_7)
print("Divisible by 11:", divisible_by_11)
print("Divisible by 13:", divisible_by_13)

Divisible by 7: False
Divisible by 11: True
Divisible by 13: False

In [ ]:
#  Find the value: 232 + (393-227)*172/32

result = 232 + (393-227)*172/32
print(result)

1124.25

In [ ]:
import sys

#  find value of 2 power 2 power 2 and 7 power 7 power 7

# 2 raised to the power of 2 raised to the power of 2
result1 = (2 ** 2) ** 2

# 7 raised to the power of 7 raised to the power of 7
result2 = (7 ** 7) ** 7

print(result1)

# Increase the limit for integer string conversion
sys.set_int_max_str_digits(0)  # Set to 0 for unlimited length
print(result2)

16
256923577521058878088611477224235621321607

In [ ]:


# Ask the user for their name
name = input("What is your name? ")

# Display the user's name
print("Hello, " + name + "!")

What is your name? jatin
Hello, jatin!

In [ ]:


import datetime

# Ask the user for their birth year
birth_year = int(input("What year were you born? "))

# Get the current year
current_year = datetime.datetime.now().year

# Calculate the user's age
age = current_year - birth_year

# Display the user's age
print("You are", age, "years old.")

What year were you born? 2003
You are 21 years old.

In [ ]:
#

with open('myfile.txt', 'w') as f:
  f.write('My name is Jatin.')
  print("hi", file=f)

In [ ]:
# ask birth-year of the user , calculate their age and store the value in a text file.

import datetime

# Ask the user for their birth year
birth_year = int(input("What year were you born? "))

# Get the current year
current_year = datetime.datetime.now().year

# Calculate the user's age
age = current_year - birth_year

# Open a file in write mode
with open('age.txt', 'w') as f:
  # Write the user's age to the file
  f.write(str(age))

What year were you born? 2003

In [ ]:
# ask user to provide a number , calculate cube of the number , and store the value in the above text file.

# Ask the user for a number
number = int(input("Please enter a number: "))

# Calculate the cube of the number
cube = number ** 3

# Open the file in write mode
with open('age.txt', 'w') as f:
  # Write the cube of the number to the file
  f.write(str(cube))

Please enter a number: 5

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#
for i in range(1, 11):
  if i > 5:
    print(i)

6
7
8
9
10